@use './resets';

:root {
    --background-color: #fff;
    --text-color: #000;
    --border-color: #000;
}

@mixin placeholderColor($selector, $color, $opacity) {
    #{$selector}:-ms-input-placeholder {
        color: $color;
        opacity: $opacity;
    }

    #{$selector}:-moz-placeholder {
        color: $color;
        opacity: $opacity;
    }

    #{$selector}::-moz-placeholder {
        color: $color;
        opacity: $opacity;
    }

    #{$selector}::placeholder {
        color: $color;
        opacity: $opacity;
    }

    #{$selector}::-webkit-input-placeholder {
        color: $color;
        opacity: $opacity;
    }
} 

* {
    transition: .3s;  
}

body {
    font-family: Arial;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;    
    height: auto;
    background-color: var(--background-color);
}

h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color); 
}

.secondary-button {
    padding: 4px 12px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    background: none;
    color: var(--text-color);
}

.primary-button {
    padding: 11px 31px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    background: none;
    color: var(--text-color);
}

.list-block {
    margin-top: 20px;
    margin-bottom: 50px;
    flex-direction: column;
    min-height: 500px;
    display: flex;
    width: 700px;
    border: 1px solid var(--border-color);
    padding: 20px;
    align-items: center;
    background-color: var(--background-color);

    @include placeholderColor(&__input, var(--text-color), .6);

    &__control-panel {
        margin: 30px 0 15px 0;
        height: 40px;
        display: flex;
        align-items: center;
    }

    &__text {
        margin-right: 10px;
        color: var(--text-color);
    }

    &__input {
        border-radius: 20px;
        padding: 10px 15px;
        background: none;
        border: 1px solid var(--border-color);
        color: var(--text-color);
    }
    
    &__button {
        margin-left: 10px;
    }

    &__shopping-list {
        width: 100%;
        padding: 0 30px;
    }

    &__list-item {
        list-style: disc;
        color: var(--text-color);
    }

    &__list-item:not(:first-child) {
        margin-top: 10px;
    }

    &__delete-button {
        margin-left: 10px;
    }
}

// the theme switch button instead of the checkbox 
.switch-theme-button {
    margin-top: 50px;
    display: flex;
    align-items: center;

    &__checkbox {
        height: 0;
        width: 0;
        visibility: hidden;
        
        &:checked + .switch-theme-button__button::after {
            left: calc(100% - 3px);
            transform: translateX(-100%);        
        }
    }

    &__button {
        display: block;
        cursor: pointer;
        width: 40px;
        height: 22px;
        border: 1px solid var(--border-color);
        border-radius: 12px;
        position: relative;

        &::after {
            content: '';
            color: var(--background-color);
            position: absolute;
            top: 3px;
            left: 3px;
            height: 14px;
            width: 14px;
            background: var(--border-color);
            border-radius: 7px;
            transition: .3s;
        }

        &:active::after {
            width: calc(100% - 6px);
        }
    }

    &__text {
        color: var(--text-color);
        font-weight: 600;
        font-size: 13px;
        margin-right: 10px;
        text-align: right;
    }
}
