@use './resets';

$dark-theme-placeholder-color: rgba(255, 255, 255, 0.808);

body {
    font-family: Arial;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.secondary-button {
    padding: 4px 12px;
    border: 1px solid grey;
    border-radius: 20px;
    background: none;
    color: grey;
}

.primary-button {
    padding: 11px 31px;
    border-radius: 20px;
    border: 1px solid #000;
    background: none;
}

.list-block {
    flex-direction: column;
    margin-top: 20px;
    min-height: 500px;
    display: flex;
    width: 700px;
    border: 1px solid #000;
    padding: 20px;
    align-items: center;

    &__control-panel {
        margin: 30px 0 15px 0;
        height: 40px;
        display: flex;
        align-items: center;
    }
    &__text {
        margin-right: 10px;
    }
    &__input {
        border-radius: 20px;
        padding: 10px 15px;
        border: 1px solid #000;
    }
    &__button {
        margin-left: 10px;
    }
    &__shopping-list {
        width: 100%;
        padding: 0 30px;
    }
    &__list-item {
        list-style: disc;
    }
    &__list-item:not(:first-child) {
        margin-top: 10px;
    }
    &__delete-button {
        margin-left: 10px;
    }
}

.change-theme-button {
    margin-top: 40px;
}

//dark theme
.dark-theme-color {
    color: #fff;
}

.dark-theme-bg {
    background: rgb(31, 31, 31);
}

.dark-theme-border {
    border-color: #fff;
}

.dark-theme-placeholder {
    color: #fff;
    &::placeholder {
        color: $dark-theme-placeholder-color;
    }
    &::-webkit-input-placeholder {
        color: $dark-theme-placeholder-color;
    }
    &::-moz-placeholder {
        color: $dark-theme-placeholder-color;
    }
    &:-ms-input-placeholder {
        color: $dark-theme-placeholder-color;
    }
}